[build]
  command = "pnpm build"
  publish = "dist"

[[redirects]]
  from = "/live"
  to = "https://https://zxjczkklcxjzkxlc.netlify.app/timeactive"
  status = 302
  force = true

[[redirects]]
  from = "/*"
  to = "/"
  status = 200
